*{
    font-family: 'Sofia Sans';
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/images/ForgotPass\(BG\).png);
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    max-width: 95%;
}

.fp-container {
    display: flex;
    margin:5rem;
    border-radius: 79px;
    background-color:rgba(255,255,255,0.9);
}
.left-container{
    display: flex;
    flex: 1;

}

.left-container img{
    display: flex ;
    /* border: 1px solid black; */
    width: 22rem;
    height: 28rem;
    align-self: flex-end;
    
}
.right-container{
    /* border: 2px solid black; */
    padding: 50px;
    flex: 1.3;
}

.reset-icon{
    display: flex;
    width: 8rem;
    margin-bottom: 30px;
}

.right-container h2 {
    text-align: center;
    color: #527661;
    font-weight: 900;
}

.right-container h5 {
    text-align: center;
    color: #527661;
    margin-bottom: 3rem;
}

.form-floating input {
    background-color: transparent;
    border: 5px solid #82B285;
    border-radius: 10px;
    max-width: 95%;
    margin-left: 10px;
}

.form-floating label {
    background-color: transparent;
    color: #797979;
    margin-left: 10px;
}

.d-grid {
    display: flex;
    max-width: 70%;
}
.d-grid .btn {
    background-color: #4C8C41;
    border: transparent;
    height: 3rem;
    border-radius: 10px;
}

.d-grid .btn:hover {
    background-color: #396830;
}
