*{
    font-family: 'Sofia Sans';
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/images/Reset.PasswordBG.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    max-width: 95%;
}

.rp-container {
    display: flex;
    margin:2rem;
    border-radius: 79px;
    background-color:rgba(255,255,255,0.9);
}

.left-container{
    /* border: 2px solid black; */
    padding: 50px;
    flex: 1.3;
}

.left-container img{
    display: flex;
    width: 14rem;
    color: #4C8C41;
    margin-bottom: 30px;
    
}

.left-container h2 {
    text-align: center;
    color: #527661;
    font-weight: 900;

}

.left-container h5 {
    text-align: center;
    color: #527661;
    margin-bottom: 2rem;
}

.right-container{
    display: flex;
    flex: 1;
    background-image: url(/images/bird.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 30rem;
}

.right-container img {
    position: relative;
    top: 14rem;
    width: 34rem;
    height: 25rem;
}



.form-floating input {
    background-color: transparent;
    border: 5px solid #82B285;
    border-radius: 10px;
    max-width: 95%;
    margin-left: 10px;
}

.form-floating label {
    background-color: transparent;
    color: #797979;
    margin-left: 10px;
}

.d-grid {
    display: flex;
    max-width: 70%;
}
.d-grid .btn {
    background-color: #4C8C41;
    border: transparent;
    height: 3rem;
    border-radius: 10px;
}

.d-grid .btn:hover {
    background-color: #396830;
}
